<!DOCTYPE html>
<html>

  <head>

    <script type="text/javascript" src="/assets/js/PureSnow.js"></script>
    <script type="text/javascript">
 
      function sorgula(){
          alert('Şu anda hizmet veremiyoruz. Lütfen daha sonra tekrar deneyiniz..');
      }
    
   </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon" />

    <title>Ovixs Hosting</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/ovixshosting.css">
    <link rel="stylesheet" href="assets/css/owl.css">


  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="/home"><h2>Ovixs<em>Hosting</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/home">Anasayfa
                  <span class="sr-only"></span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Hakkımızda</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Hizmetlerimiz</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">İletişim</a>
              </li>
            </ul>
          </div>
          <div class="functional-buttons">
            <ul>
              <li><a><%= user.username %></a></li>
              <li><a href="/logout">Çıkış</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner">
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="header-text caption">
              <h2>Alan adı sorgulayın</h2>
              <div id="search-section">
              	<form id="suggestion_form" name="gs" method="get" action="#">
                <div class="searchText">
                  
                  <input type="text" name="q" class="searchText" placeholder="Yeni bir alan adı sorgulayın..." autocomplete="on">
                  <ul>
                    <li><label><input type="checkbox" name="ext_com" value="1"><span>.com <em>($10/yıl)</em></span></label></li>
                    <li><label><input type="checkbox" name="ext_net" value="1"><span>.net <em>($12/yıl)</em></span></label></li>
                    <li><label><input type="checkbox" name="ext_org" value="1"><span>.org <em>($8/yıl)</em></span></label></li>
                    <li><label><input type="checkbox" name="ext_in" value="1"><span>.in <em>($6/yıl)</em></span></label></li>
                  </ul>
                </div>
                    <input type="button" name="sonuclar" onclick="sorgula()" class="main-button" value="sorgula">
                 </form>
               <div class="advSearch_chkbox">
               </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->

    <!-- Trusted Starts Here -->
    <div class="trusted-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="trusted-section-heading">
              <h4>Tier-1 / Tier-2 Servis Sağlayıcılar</h4>
            </div>
          </div>
          <div class="col-md-12">
            <div class="owl-trusted owl-carousel">
              <div class="trusted-item">
                <img src="assets/images/provider/cogent.png" alt="trusted 1">
              </div>
              <div class="trusted-item">
                <img src="assets/images/provider/decix.png" alt="trusted 1">
              </div>
              <div class="trusted-item">
                <img src="assets/images/provider/gtt-logo.png" alt="trusted 1">
              </div>
              <div class="trusted-item">
                <img src="assets/images/provider/istix2.png" alt="trusted 1">
              </div>
              <div class="trusted-item">
                <img src="assets/images/provider/neterra.png" alt="trusted 1">
              </div>
              <div class="trusted-item">
                <img src="assets/images/provider/netix.png" alt="trusted 1">
              </div>
              <div class="trusted-item">
                <img src="assets/images/provider/sparkle.png" alt="trusted 3">
              </div>
              <div class="trusted-item">
                <img src="assets/images/provider/tn.png" alt="trusted 3">
              </div>
              <div class="trusted-item">
                <img src="assets/images/provider/tso.png" alt="trusted 3">
              </div>
              <div class="trusted-item">
                <img src="assets/images/provider/tt.png" alt="trusted 3">
              </div>
              <div class="trusted-item">
                <img src="assets/images/provider/tti.png" alt="trusted 3">
              </div>
              <div class="trusted-item">
                <img src="assets/images/provider/turkix.png" alt="trusted 3">
              </div>
              <div class="trusted-item">
                <img src="assets/images/provider/verizon-logo.png" alt="trusted 3">
              </div>
              <div class="trusted-item">
                <img src="assets/images/provider/vodafone.png" alt="trusted 3">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Trusted Ends Here -->


    <!-- Services Starts Here -->
    <div class="services-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <span>Hosting Servisleri</span>
              <h2>Sağladığımız hizmetler</h2>
              <p></p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="service-item">
              <i class="fa fa-database"></i>
              <h4>VDS</h4>
              <p>Maksimum 40 kişiye kadar paylaştırılmış makineler.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="service-item">
              <i class="fa fa-database"></i>
              <h4>Web Hosting</h4>
              <p>Web siteleriniz için hızlı ve güvenli Hosting planları.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="service-item">
              <i class="fa fa-database"></i>
              <h4>VPS</h4>
              <p>Sadece size ait, kimseyle paylaşılmayan makineler.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Services Ends Here -->


    <!-- Pricing Starts Here -->
    <div class="pricing-section">
      <div class="background-image-pricing">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="section-heading">
              <h2>Hosting Planları</h2>
              <p></p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="pricing-item">
              <h4>Basit Cloud</h4>
              <div class="price">
                <h6>$15.50</h6>
                <span>aylık</span>
              </div>
              <p></p>
              <div class="dev"></div>
              <ul>
                <li><i class="fa fa-check"></i>500 GB Depolama Alanı</li>
                <li><i class="fa fa-check"></i>3 TB Veri Transferi</li>
                <li><i class="fa fa-check"></i>Kolay Yönetim Paneli</li>
                <li><i class="fa fa-check"></i>7/24 Hızlı Destek</li>
                <li><i class="fa fa-check"></i>100 Premium Tema</li>
                <li><i class="fa fa-check"></i>İstediğiniz zaman iptal veya değişim hakkı</li>
              </ul>
              <a href="#" class="main-button">Satın al</a>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="pricing-item">
              <h4>Cloud VPS</h4>
              <div class="price price-gradient">
                <h6>$30.00</h6>
                <span>aylık</span>
              </div>
              <p></p>
              <div class="dev"></div>
              <ul>
                <li><i class="fa fa-check"></i>1 TB Depolama Alanı</li>
                <li><i class="fa fa-check"></i>8 TB Veri Transferi</li>
                <li><i class="fa fa-check"></i>Kolay Yönetim Paneli</li>
                <li><i class="fa fa-check"></i>15 dakikada hızlı destek</li>
                <li><i class="fa fa-check"></i>Sınırsız web eklentisi</li>
                <li><i class="fa fa-check"></i>İstediğiniz zaman iptal veya değişim hakkı</li>
              </ul>
              <a href="#" class="gradient-button">Satın al</a>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="pricing-item">
              <h4>Gelişmiş Cloud</h4>
              <div class="price">
                <h6>$72.25</h6>
                <span>aylık</span>
              </div>
              <p></p>
              <div class="dev"></div>
              <ul>
                <li><i class="fa fa-check"></i>4 TB Depolama Alanı</li>
                <li><i class="fa fa-check"></i>20 TB Veri Transferi</li>
                <li><i class="fa fa-check"></i>Kolay Yönetim Paneli</li>
                <li><i class="fa fa-check"></i>15 dakikada hızlı destek</li>
                <li><i class="fa fa-check"></i>En iyi web uygulamaları</li>
                <li><i class="fa fa-check"></i>İstediğiniz zaman iptal veya değişim hakk</li>
              </ul>
              <a href="#" class="main-button">Satın al</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Pricing Ends Here -->


    <!-- Features Starts Here -->
    <div class="features-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <span></span>
              <h2>Neden Ovixs Hosting?</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="feature-item">
              <div class="icon">
                <img src="assets/images/feature-01.png" alt="">
              </div>
              <h4>En Kaliteli Sunucu Markaları</h4>
              <p>Ovixs kiralanan tüm sunucularda Dell, HP, Cisco gibi dünya markalarını kullanmaktadır. OEM ürünlere yer verilmemektedir.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="feature-item">
              <div class="icon">
                <img src="assets/images/feature-01.png" alt="">
              </div>
              <h4>Limitsiz Trafik</h4>
              <p>En az 500Mbit olmak üzere tüm kiralık sunucular paylaşımsız, kotasız, limitsiz ve simetrik erişime sahiptir. En yoğun zamanda bile tam ve kesintisiz erişim sağlar</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="feature-item">
              <div class="icon">
                <img src="assets/images/feature-01.png" alt="">
              </div>
              <h4>DDOS Koruması</h4>
              <p>Bütün kiralık sunucular "Secure Uplink" servisinden kolayca yararlanabilir. Ayrıca bir kuruluma ihtiyaç duyulmaz</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="feature-item">
              <div class="icon">
                <img src="assets/images/feature-01.png" alt="">
              </div>
              <h4>Yedekli İnternet Çıkışı</h4>
              <p>Kiralık sunucu hizmetlerinin erişimleri Ovixs Veri Merkezi tarafından tamamı yedek alt yapı üzerinden sağlanmaktadır.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="feature-item">
              <div class="icon">
                <img src="assets/images/feature-01.png" alt="">
              </div>
              <h4>7/24 Canlı Destek</h4>
              <p>Tüm kullanıcılarımız 7/24 Canlı destek servisimizden faydalanabilği gibi 7/24 uzman kadromuza 444 4 444 destek hattımızdan ulaşabilirsiniz</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="feature-item">
              <div class="icon">
                <img src="assets/images/feature-01.png" alt="">
              </div>
              <h4>200+ Peering</h4>
              <p>Tüm sunucular Ovixs Global IP Backbone kalitesinin sahip olduğu bütün peering (Ara Bağlantı) kapasitelerine tam erişim sağlar.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Features Ends Here -->


   


    <!-- Footer Starts Here -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="footer-item">
              <div class="footer-heading">
                <h2>Hakkımızda</h2>
              </div>
              <p>Hakkımızda</p>
            </div>
          </div>
          
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="footer-item">
              <div class="footer-heading">
                <h2>Hosting Planları</h2>
              </div>
              <ul class="footer-list">
                <li><a href="#">Basit Cloud</a></li>
                <li><a href="#">Cloud VPS</a></li>
                <li><a href="#">Gelişmiş Cloud</a></li>
              </ul>
            </div>
          </div>
          
          
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="footer-item">
              <div class="footer-heading">
                <h2>Servisler</h2>
              </div>
              <ul class="footer-list">
                <li><a href="#">Sunucu Barındırma</a></li>
                <li><a href="#">Güvenlik Servisleri</a></li>
                <li><a href="#">İçerik Dağıtım Ağı</a></li>
              </ul>
            </div>
          </div>
          
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="footer-item">
              <div class="footer-heading">
                <h2>Daha fazla bilgi</h2>
              </div>
              <ul class="footer-list">
                <li>Telefon: <a href="#">0850 458 45 45</a></li>
                <li>E-Posta: <a href="#">mail@ovixs.tech</a></li>
                <li>Destek: <a href="#">support@ovixs.tech</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-12">
            <div class="sub-footer">
              <p>Copyright &copy; 2021 Ovixs Hosting</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Ends Here -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Additional Scripts -->
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/owl.js"></script>
    <script src="assets/js/accordions.js"></script>


    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>

  </body>
</html>